.dis_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#text_ani{
    width: 100%;
    height: 96px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 130px;
}

.h1_ani{
    color: transparent;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 96px;
    letter-spacing: 10px;
    line-height: 96px;
    -webkit-text-stroke:  1px #ffffff ;
    white-space: nowrap;
}
#schedule{
    margin-bottom: 560px;
}

#timeline_box{
    margin-top: 150px;
    width: 100%;
    height: 340px;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr 4fr 3fr 4fr 2fr;
    grid-template-rows: 6fr 7fr 10fr;
}

.line_arrow{
    position: absolute;
    height: 27px;
    z-index: 3;
}

.line_arrow:nth-child(1){
    left: calc(120/1320 *100%);
}
.line_arrow:nth-child(2){
    left: calc(540/1320 *100%);
}
.line_arrow:nth-child(3){
    left: calc(960/1320 *100%);
}

#timeline_img {
    position: relative;
    grid-area: 2 / 1 / 3 / 8; 
}

#white_line{
    width: 100%;
}

#review_award{
    width: 100%;
    flex-direction: row;
    margin-top: 135px;
    align-items: start;
}

/* 黃色漸層 */
#y_grad{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: -1;
}


.ra_box{
    width: 50%;
    display: flex;
    justify-content: start;
}

.ra_box h3{
    margin-bottom: 85px;
}

#review{
    padding: 0 7.5%;
}

#review .p1,#review .p2{
    margin-bottom: 15px;
    text-align: center;
}



.a_title{
    width: 100%;
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: 4fr repeat(2, 3fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
}   
.a_sub { grid-area: 2 / 1 / 3 / 4; }

.a_bottom{
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr;
}




#review_arrow{
    height: 37px;
    margin: 72px 0px;
}

/* 立即報名按鈕 */
#regd_btn{
    width: calc(646/ 1320 *100%);
    height: 140px;
    background-color: #FAEA48;
    color: #3330E4;
    border-radius: 75px;
    margin-top: 210px;
    margin-bottom: 287px;
}


#regd_btn h1{
    color: #3330E4;
    text-align: center;
    line-height: 140px;
}

/*#region Sponsor*/
#sponsor_list{
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 255px;
}

.sponsor_cube{
    width: 280px;
    height: 280px;
    background-color: white;
    border-radius: 28px;
}
/*#endregion  Sponsor*/

#footer{
    height: 150px;
    width: 100%;
    background-color: #FAEA48;
}

