body{
    background-color: #3330e4;
    position: relative;
}


/*#region Typography*/
h1,h2,h3,.p1,.p2,.p3{
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}
/* heading */
h1{
    font-size: 48px;
    line-height: 72px;
    letter-spacing: .1rem;
}
/* h1第二個版本 */
.h1_1{
    font-size: 44px;
    line-height: 72px;
}

h2{
    font-size: 40px;
    line-height: 60px;
    letter-spacing: .1rem;
}

h3{
    font-size: 32px;
    line-height: 48px;
    letter-spacing: .1rem;
}

/* paragraph */
.p1{
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .1rem;
}

.p2{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .1rem;
}

.p3{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .1rem;
}

/* font_family */
/* .en_font{
    font-family: 'DM Sans', sans-serif;
}
.zh_font{
    font-family: 'Noto Sans TC', sans-serif;
} */

/* no unicode-range; default to all characters */
/* @font-face {
    font-family: 'Noto Sans TC';
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700" ) format('woff2');
} */

/* latin */
/* @font-face {
    font-family: 'DM Sans';
    unicode-range: U+00-024F; 
    src: url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700" ) format('woff2');
} */





/* font_weight */
.fw_reg{
    font-weight: 400;
}
.fw_med{
    font-weight: 500;
}
.fw_b{
    font-weight: 700;
}

/* letter-spacing */
.en_ls{
    letter-spacing: 10%;
}

/*#endregion Typography*/


/*#region Color*/
.blue{
    color: #3330e4;
}
.yellow{
    color: #faea48;
}
.black{
    color: #000000;
}
/*#endregion Color*/



/*#region Grid*/
.container{
    width: 1320px;
    margin: auto;
    z-index: 2;
}
/*#endregion Grid*/


.gradient_bg{
    width: 100%;
}